nodered.txt
[{"id":"80d92cfb.90a74","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"acb1a467.0385c8","type":"debug","z":"80d92cfb.90a74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":601,"y":474,"wires":[]},{"id":"63598306.8f7c6c","type":"function","z":"80d92cfb.90a74","name":"prediction","func":"var token=msg.payload.token;\nvar ag=global.get(\"ag\");\nvar wc=global.get(\"wc\");\nvar ed=global.get(\"ed\");\nvar op=global.get(\"op\");\nvar op1=global.get(\"op1\");\nvar se=global.get(\"se\");\nvar cg=global.get(\"cg\");\nvar cl=global.get(\"cl\");\nvar hp=global.get(\"hp\");\nmsg.payload={\"fields\":[\"age\",\"workclass\",\"education\",\"occupation\",\"occupation1\",\"sex\",\"capital gain\",\"capital loss\",\"hours per week\"],\"values\":[[ag,wc,ed,op,op1,se,cg,cl,hp]]}\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":235,"y":158,"wires":[["f9b65cdd.78cdc","acb1a467.0385c8"]]},{"id":"ef3da241.bc87f","type":"function","z":"80d92cfb.90a74","name":"o/p  parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":808,"y":285,"wires":[["acb1a467.0385c8","f5609af2.e2c4b8"]]},{"id":"a2ac485d.edb1d8","type":"ui_form","z":"80d92cfb.90a74","name":"","label":"","group":"d2f8cd5a.ceeb","order":5,"width":0,"height":0,"options":[{"label":"age","value":"ag","type":"number","required":true},{"label":"capital-gain","value":"cg","type":"number","required":true},{"label":"capital-loss","value":"cl","type":"number","required":true},{"label":"hours-per-week","value":"hp","type":"number","required":true}],"formValue":{"ag":"","cg":"","cl":"","hp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":525,"wires":[["40b7626c.05980c"]]},{"id":"d7b83734.7c3f58","type":"ui_text","z":"80d92cfb.90a74","group":"d2f8cd5a.ceeb","order":6,"width":0,"height":0,"name":"","label":"income prediction","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":168,"wires":[]},{"id":"40b7626c.05980c","type":"function","z":"80d92cfb.90a74","name":"Input","func":"global.set(\"ag\",msg.payload.ag);\nglobal.set(\"cg\",msg.payload.cg);\nglobal.set(\"cl\",msg.payload.cl);\nglobal.set(\"hp\",msg.payload.hp)\nreturn msg;","outputs":1,"noerr":0,"x":161,"y":371,"wires":[["b9ef0e02.22e9"]]},{"id":"f9b65cdd.78cdc","type":"http request","z":"80d92cfb.90a74","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/a4c98a5c-8212-42f0-8b1c-8b0b10aa024c/deployments/da05a564-d4f7-4bfb-bbeb-96d67960060c/online","tls":"","proxy":"","authType":"basic","x":453,"y":100,"wires":[["ef3da241.bc87f"]]},{"id":"b9ef0e02.22e9","type":"http request","z":"80d92cfb.90a74","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":354,"y":295,"wires":[["63598306.8f7c6c","acb1a467.0385c8"]]},{"id":"2bfcfc4.1fd9804","type":"inject","z":"80d92cfb.90a74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":232,"wires":[["b9ef0e02.22e9","40b7626c.05980c"]]},{"id":"c554fb18.5642a8","type":"ui_dropdown","z":"80d92cfb.90a74","name":"","label":"","tooltip":"","place":"Select workclass","group":"d2f8cd5a.ceeb","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"State-gov","value":"State-gov","type":"str"},{"label":"Private","value":"Private","type":"str"}],"payload":"","topic":"","x":192,"y":592,"wires":[["6419ac00.0e7224"]]},{"id":"2c3d7dba.2a8d22","type":"ui_dropdown","z":"80d92cfb.90a74","name":"","label":"","tooltip":"","place":"Select gender","group":"d2f8cd5a.ceeb","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Male","value":"Male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"","x":195,"y":793,"wires":[["b4ad0b64.cede28"]]},{"id":"ab3eb485.034e78","type":"ui_dropdown","z":"80d92cfb.90a74","name":"","label":"","tooltip":"","place":"Select occupation","group":"d2f8cd5a.ceeb","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Adm-clerical","value":"Adm-clerical","type":"str"},{"label":" Exec-managerial","value":" Exec-managerial","type":"str"},{"label":"Sales","value":"Sales","type":"str"}],"payload":"","topic":"","x":194,"y":725,"wires":[["488d1a29.d2b514"]]},{"id":"3a8e825a.0dc09e","type":"ui_dropdown","z":"80d92cfb.90a74","name":"","label":"","tooltip":"","place":"Select Education","group":"d2f8cd5a.ceeb","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Bachelors","value":"Bachelors","type":"str"},{"label":"HS-grad","value":"HS-grad","type":"str"}],"payload":"","topic":"","x":182,"y":666,"wires":[["de8641bd.801d3"]]},{"id":"6419ac00.0e7224","type":"function","z":"80d92cfb.90a74","name":"Select Work Class","func":"if(msg.payload==\"State-gov\"){\n    global.set(\"wc\",1);\n}\nelse if(msg.payload==\"Private\"){\n    global.set(\"wc\",0);\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":493,"y":547,"wires":[[]]},{"id":"de8641bd.801d3","type":"function","z":"80d92cfb.90a74","name":"Select Education","func":"if(msg.payload==\"Bachelors\"){\n    global.set(\"ed\",0);\n}\nelse if(msg.payload==\"HS-grad\"){\n    global.set(\"ed\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":623,"wires":[[]]},{"id":"488d1a29.d2b514","type":"function","z":"80d92cfb.90a74","name":"Select Occupation","func":"if(msg.payload==\"Adm-clerical\"){\n    global.set(\"op\",0);\n    global.set(\"op1\",0);\n}\nelse if(msg.payload==\"Exec-managerial\"){\n    global.set(\"op\",1);\n     global.set(\"op1\",0);\n}\nelse if(msg.payload==\"Sales\"){\n    global.set(\"op\",0);\n    global.set(\"op1\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":531,"y":693,"wires":[[]]},{"id":"b4ad0b64.cede28","type":"function","z":"80d92cfb.90a74","name":"Select Gender","func":"if(msg.payload==\"Male\"){\n    global.set(\"se\",0);\n}\nelse if(msg.payload==\"Female\"){\n    global.set(\"se\",1);\n}\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":769,"wires":[[]]},{"id":"f5609af2.e2c4b8","type":"function","z":"80d92cfb.90a74","name":"output","func":"if(msg.payload==0){\n    msg.payload=\"<=50k\";\n}\nelse{\n    msg.payload=\">50k\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":829,"y":222,"wires":[["d7b83734.7c3f58"]]},{"id":"d2f8cd5a.ceeb","type":"ui_group","z":"","name":"home","tab":"4d113d68.256594","order":1,"disp":true,"width":"6","collapse":false},{"id":"4d113d68.256594","type":"ui_tab","z":"","name":"income prediction","icon":"dashboard","disabled":false,"hidden":false}]